<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            description="%fullScreenActionSetDesc"
            id="cn.pande.eclipsex.fullscreen.actionSet"
            label="%fullScreenActionSet"
            visible="true">
         <action
               class="cn.pande.eclipsex.fullscreen.FullScreenActionDelegate"
               definitionId="cn.pande.eclipsex.fullscreen.fullscreenCommand"
               id="cn.pande.eclipsex.fullscreen.fullscreenAction"
               label="%fullScreen"
               menubarPath="window/additions"
               style="push">
         </action>
         <action
               class="cn.pande.eclipsex.fullscreen.EscActionDelegate"
               definitionId="cn.pande.eclipsex.fullscreen.escCommand"
               id="cn.pande.eclipsex.fullscreen.escAction"
               label="%esc">
         </action>
      </actionSet>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            categoryId="org.eclipse.ui.category.window"
            description="%fullScreenCommandDesc"
            id="cn.pande.eclipsex.fullscreen.fullscreenCommand"
            name="%fullScreenCommand">
      </command>
      <command
            categoryId="org.eclipse.ui.category.window"
            description="%escCommandDesc"
            id="cn.pande.eclipsex.fullscreen.escCommand"
            name="%escCommand">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="cn.pande.eclipsex.fullscreen.fullscreenCommand"
            contextId="org.eclipse.ui.globalScope"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+M2+M">
      </key>
      <key
            commandId="cn.pande.eclipsex.fullscreen.escCommand"
            contextId="org.eclipse.ui.globalScope"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="ESC">
      </key>
   </extension>

</plugin>
